# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Local env files
.env
.env.production
.env.development
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

.openzeppelin
addresses.js

# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# Hardhat files
cache
artifacts

# MongoDB
data

# IntelliJ
.idea/

# Workers
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Logs
logs/
errors/
.vscode/*.log

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
